<div class="container">
    <div class="row mt-5">
      <div class="card mx-auto">
        <div class="col p-4">
          <h2 class="card-title text-center mb-4">Change Password</h2>
          <h2 class="message text-center">{{successMessage}}</h2>

            <div class="card-body">
              <form [formGroup]="reactiveForm"(ngSubmit)="onChange()">
                <div class="form-group row">
                  <label for="email" class="p-0 mb-2">Your Email:</label>
                  <input
                    class="form-control mb-3"
                    type="email"
                    formControlName="email"
                    id="email"
                    placeholder="Enter email"
                  />
                </div>
                <div class="form-group row">
                  <label for="password1" class="p-0 mb-2">Old Password:</label>
                  <input
                    class="form-control mb-3"
                    type="password"
                    formControlName="password1"
                    id="password1"
                    placeholder="Enter password"
                  />
                </div>
                <div class="form-group row">
                    <label for="password2" class="p-0 mb-2">New Password:</label>
                    <input
                      class="form-control mb-3"
                      type="password"
                      formControlName="password2"
                      id="password2"
                      placeholder="Enter password"
                    />
                  </div>
                <div class="form-group my-3 row">
                  <button class="btn btn-primary"[disabled]="!reactiveForm.valid">Change</button>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
  