
<div class="container mt-5">
  <div class="row mt-2">
    <div class="card mx-auto shadow">
      <div class="col">
        <div class="col card-img-top d-flex justify-content-center pt-2">
          <img src="{{user?.picture}}" width="200px" alt="image" />
        </div>
        <div class="mt-5 card-body">
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="name"><b>Full Name:</b></label>
              <input
                class="form-control my-3"
                type="text"
                value="{{user?.name}}"
                disabled
              />
              <label for="name"
                ><b>Email:</b>
              </label>
              <input
                class="form-control"
                type="email"
                value="{{user?.email}}"
                disabled
              />
            </div>
          </div>           
        </div>
      </div>
    </div>
  </div>
</div>
