<div class="container my-2">
  <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand fs-3">E-commerce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active me-3">
        <a class="nav-link fs-5"routerLink="/seller/setting/my-profile"[hidden]="navStatus" >My Profile</a>
      </li>
      <li class="nav-item active me-3">
        <a class="nav-link fs-5"routerLink="/shop/products/product-list" >Buyer</a>
      </li>
      <li class="nav-item active me-3"[hidden]="!navStatus">
        <a class="nav-link fs-5"routerLink="/seller/auth/login" >Login</a>
      </li>
      <li class="nav-item active me-3"[hidden]="!navStatus">
        <a class="nav-link fs-5"routerLink="/seller/auth/register" >Register</a>
      </li>
      <li class="nav-item dropdown ms-3"[hidden]="navStatus">
        <a class="nav-link dropdown-toggle btn  bg-primary"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Features
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"routerLink="/seller/setting/user-list" >User Details</a>
          <a class="dropdown-item"routerLink="/seller/product/product-list" >Product Details</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"routerLink="/seller/setting/change-password" >Change Password</a>
          <a class="dropdown-item text-danger"(click)="onLogOut()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
  </nav>
</div>