

<div class="container mt-4"*ngIf="viewStatus">
    <div class="row">
      <div
        class="col my-3"
      >
        <div class="card mx-auto">
          <img
            src="{{ showBigImage }}"
            class="card-img-top"
            alt="image"
          />
        <hr/>
          <div class="d-flex scroll pb-3">
            <img  *ngFor="let image of product?.images"
              src="{{ image.url }}"
              alt="image"
              width="100px"
              (click)="onShowBigImage(image)"
              class="small-image mx-2 p-1"
              [ngStyle]="{'border': showBigImage==image.url ? '1px solid black':'none'}"
            />
          </div>
          <hr />
          <div class="card-body">
            <a class="card-link" data-bs-toggle="modal" data-bs-target="#exampleModal">Add image</a>
            <a class="card-link" (click)="onDeleteImage()">Delete image</a>
            <h5 class="card-title">{{ product?.name }}</h5>
            <h5 class="card-title">
              Price: {{ product?.price | currency : "INR" }}
            </h5>
            <p class="card-text">{{ product?.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal add image-->
  <div class="container">
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          </div>
          <div class="modal-body">
              <div class="form-group mb-4">
                  <label for="file">Add Image</label>
                  <input type="file" multiple name="images"class="form-control"(change)="onFile($event)">
              </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button"data-bs-dismiss="modal" class="btn btn-primary"(click)="onAddImage()">Add Image</button>
          </div>
        </div>
      </div>
    </div>
  </div>