input{
    border: none;
    margin-bottom: 20px;
}
.card{
    width: fit-content;
}
.loading{
    position:absolute;
    border-width: 10px;
    top:10%;
    left: 50%;
    width: 60px;
    height: 60px;
}
.message{
    color:rgb(82, 146, 82);
}