<div
  class="spinner-border text-warning loading"
  role="status"
  *ngIf="!dataComingStatus"
>
  <span class="visually-hidden">Loading...</span>
</div>
<div class="container mt-5" *ngIf="dataComingStatus">
  <!-- <div class="d-flex justify-content-end">
            <button class="btn btn-primary"(click)="onLogOut()">Logout</button>
        </div> -->

  <div class="dropdown show d-flex justify-content-end">
    <a
      class="btn btn-primary dropdown-toggle"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Profile
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" routerLink="../auth/change-password"
        >Change password</a
      >
      <a class="dropdown-item" (click)="onLogOut()">Logout</a>
    </div>
  </div>

  <div class="row mt-2">
    <div class="card mx-auto">
      <h2 class="message text-center">{{ successMessage }}</h2>
      <div class="col">
        <div class="col-3 card-img-top d-flex justify-content-center">
          <img src="../../../assets/user.png" width="200px" alt="logo" />
        </div>
        <div class="mt-5 card-body">
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="name"><b>Full Name:</b></label>
              <input
                class="form-control my-3"
                type="text"
                value="{{ specificUserByUrl?.name }}"
                disabled
              />
              <label for="name"
                ><b>Email:</b>
                <a
                  *ngIf="!specificUserByUrl?.isEmailVerified"
                  class="text-danger ms-3 mouse"
                  (click)="onVerifyEmail()"
                  >Verify email</a
                >
                <img
                  *ngIf="specificUserByUrl?.isEmailVerified"
                  src="../../../assets/emailVerify.png"
                  alt="verified"
                  style="width: 50px; height: 50px"
                />
              </label>
              <input
                class="form-control"
                type="email"
                #emailValue
                value="{{ specificUserByUrl?.email }}"
                disabled
              />
            </div>
            <div class="col-md-6 form-group">
              <label for="name"><b>Company Name:</b></label>
              <input
                class="form-control my-3"
                type="text"
                #textFocus
                value="{{ specificUserByUrl?._org.name }}"
                disabled
              />
              <label for="name"><b>Role:</b></label>
              <input
                class="form-control"
                type="email"
                value="{{ specificUserByUrl?.role }}"
                disabled
              />
            </div>
          </div>
          <div class="form-group mt-3">
            <button
              type="button"
              class="btn btn-secondary form-control mb-3"
              (click)="onUsersDetails()"
            >
              Users Details
            </button>
            <button
              type="button"
              class="btn btn-secondary form-control"
              (click)="onEditUsersDetails()"
            >
              EditCompanyName
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
